:root {
    --primary-color: rgba(218, 72, 20, 1);
    --secondary-color: rgba(255, 176, 114, 1);
    --shadow-color: #0000002f;
    --white-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: var(--white-color);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    background: linear-gradient(58deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

.container{
    height: 500px;
    width: 500px;
}

.hundred, .info, .zero_one, .zero_two {
    display: flex;
    align-items: center;
}

.hundred{
    height: 50%;
    justify-content: center;
    position: relative;
}

.one, .detail {
    background-color: var(--white-color);
    border-radius: 5px;
    filter: drop-shadow(1px 1px 9px var(--shadow-color));
}

.one{
    height: 80%;
    width: 10%;
    position: relative;

    left: 6%;
    z-index: 3;
}

.detail{
    position: absolute;
    height: 30%;
    width: 8%;

    transform: rotate(50deg);
    left: 5%;
    top: 10%;
}

.zero_one, .zero_two {
    height: 80%;
    width: 40%;
    border-radius: 50%;
    background-color: var(--white-color);
    filter: drop-shadow(1px 1px 9px var(--shadow-color));
    justify-content: center;
    position: relative;
}

.zero_one{
    right: -3%;
    z-index: 2;
}

.zero_two{
    left: -3%;
}

.zero_one::after, .zero_two::after {
    content: "";
    position: absolute;
    height: 50%;
    width: 50%;
    border-radius: 50%;
    background: var(--primary-color);
    background: linear-gradient(58deg, var(--primary-color) 0%, var(--secondary-color) 100%);
}

.info{
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.info h1{
    font-size: 10rem;
    line-height: 70%;
}

.info p{
    font-size: 3rem;
    font-weight: bold;
}