* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    position: relative;
    width: 400px;
    aspect-ratio: 1/1;
    border-radius: 4px;
    background-color: #9b59b6;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

input {
    display: none;
}

.logo{
    position: absolute;
    left: 165px;
    top: 160px;
    cursor: pointer;
}

.white{
    fill: white;
    transition: all 0.5s ease-in-out;
}

.purple{
    fill: #9b59b6;
    transform: scale(0);
    transition: all 0.5s ease-in-out;
}

input:checked ~ .check .white{
    transform: scale(15);
}

input:checked ~ .check .purple{
    transform: scale(1);
}