* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #DD3C54;
    border-radius: 4px;
    display: grid;
    fill: white;
    place-items: center;
    width: 400px;
}

.frame{
    display: grid;
    place-items: center;
    align-items: center;
}

.bell {
    animation: shake 2.5s ease infinite;
    background-position: center;
    background-size: cover;
}

@keyframes shake {

    0%,
    50%,
    100% {
        transform: rotate(0)
    }

    5%,
    15%,
    25%,
    30%,
    35%,
    40% {
        transform: rotate(6deg)
    }

    7.5%,
    12.5%,
    17.5%,
    22.5%,
    27.5%,
    32.5%,
    37.5%,
    42.5% {
        transform: rotate(-6deg)
    }

    45% {
        transform: rotate(-6deg)
    }


    47.5% {
        transform: rotate(-2deg)
    }
}

.line {
    fill: none;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    position: absolute;
}

.line-1,
.line-2,
.line-3 {
    margin-left: 100px;
}

.line-4,
.line-5,
.line-6 {
    margin-right: 200px;
}

.line-1 {
    animation: line-1 2.5s ease-out infinite both;
}

.line-2 {
    animation: line-2 2.5s ease-out infinite both;
}

.line-3 {
    animation: line-3 2.5s ease-out infinite both;
}

.line-4 {
    animation: line-4 2.5s ease-out infinite both;
}

.line-5 {
    animation: line-5 2.5s ease-out infinite both;
}

.line-6 {
    animation: line-6 2.5s ease-out infinite both;
}

@keyframes line-1 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    50%,
    100% {
        transform: translate3d(60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-2 {

    0%,
    19% {
        opacity: 0;
    }

    20% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    70%,
    100% {
        transform: translate3d(60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-3 {

    0%,
    39% {
        opacity: 0;
    }

    40% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    90%,
    100% {
        transform: translate3d(60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-4 {
    0% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    50%,
    100% {
        transform: translate3d(-60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-5 {

    0%,
    19% {
        opacity: 0;
    }

    20% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    70%,
    100% {
        transform: translate3d(-60px, 0, 0) scale(2);
        opacity: 0;
    }
}

@keyframes line-6 {

    0%,
    39% {
        opacity: 0;
    }

    40% {
        transform: translate3d(0, 0, 0) scale(1);
        opacity: 1;
    }

    90%,
    100% {
        transform: translate3d(-60px, 0, 0) scale(2);
        opacity: 0;
    }
}