*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    position: absolute;
    height: 400px;
    width: 400px;
    background-color: #4C4BA2;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.dots{
    padding-top: 28px;
    padding-left: 194px;
}

.dot{
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 5px 0;
}

.dot-one{
    animation: dot 1000ms ease-in-out infinite;
}

.dot-two{
    animation: dot 1018ms ease-in-out 200ms infinite;
}


.dot-three{
    animation: dot 1036ms ease-in-out 400ms infinite;
}

.dot-four{
    animation: dot 1054ms ease-in-out 600ms infinite;
}

.dot-five{
    animation: dot 1072ms ease-in-out 800ms infinite;
}

.dot-six{
    animation: dot 1090ms ease-in-out 1000ms infinite;
}

.dot-seven{
    animation: dot 1108ms ease-in-out 1200ms infinite;
}

.dot-eight{
    animation: dot 1126ms ease-in-out 1400ms infinite;
}

.dot-nine{
    animation: dot 1144ms ease-in-out 1600ms infinite;
}

.dot-ten{
    animation: dot 1162ms ease-in-out 1800ms infinite;
}

.dot-eleven{
    animation: dot 1180ms ease-in-out 2000ms infinite;
}

.dot-twelve{
    animation: dot 1198ms ease-in-out 2200ms infinite;
}

.dot-thirteen{
    animation: dot 1216ms ease-in-out 2400ms infinite;
}

.dot-fourteen{
    animation: dot 1234ms ease-in-out 2600ms infinite;
}

.dot-fifteen{
    animation: dot 1252ms ease-in-out 2800ms infinite;
}

.dot-sixteen{
    animation: dot 1270ms ease-in-out 3000ms infinite;
}

.dot-seventeen{
    animation: dot 1288ms ease-in-out 3200ms infinite;
}

.dot-eighteen{
    animation: dot 1306ms ease-in-out 3400ms infinite;
}

.dot-nineteen{
    animation: dot 1324ms ease-in-out 3600ms infinite;
}

.dot-twenty{
    animation: dot 1342ms ease-in-out 3800ms infinite;
}


@keyframes dot{
    0%, 100%{
        transform: translate3d(50px, 0, 0);
    }
    50%{
        transform: translate3d(-50px, 0, 0);
    }
}