*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Open Sans, sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container{
    position: absolute;
    width: 400px;
    height: 400px;
    overflow: hidden;
    background-color: #57D895;
    color: white;
    border-radius: 4px;
}

.hidden{
    display: none;
}

.button{
    box-sizing: border-box;
    position: absolute;
    width: 260px;
    height: 60px;
    top: 170px;
    left: 70px;
    border: 2px solid white;
    border-radius: 30px;
    text-align: center;
    line-height: 56px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.button:hover{
    background-color: #37be77
}

.button img{
    position: absolute;
    z-index: 2;
    top: 16px;
    left: 15px;
    opacity: 0;
}

.circle{
    position: absolute;
    width: 60px;
    height: 60px;
    z-index: 2;
    top: 170px;
    left: 170px;
    fill: none;
    stroke: white;
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-dasharray: 183 183;
    stroke-dashoffset: 183;
    pointer-events: none;
    transform: rotate(-90deg);
}

input:checked ~ .button{
    animation: button 0.5s ease both, fill 0.5s ease-out 1.5s forwards;
}

input:checked ~ .button img{
    animation: chec 0.5s ease-out 1.5s both;
}

input:checked ~ .circle{
    animation: circle 2s ease-out 0.5s both;
}

@keyframes button{
    0%{
        width: 260px;
        left: 70px;
        border-color: white;
    }
    50%{
        color: transparent;
    }
    100%{
        width: 60px;
        left: 170px;
        border-color: #37be77;
        background: transparent;
        color: transparent;
    }
}

@keyframes circle {
    0%{
        stroke-dashoffset: 183;
    }
    50%{
        stroke-dashoffset: 0;
        stroke-dasharray: 183;
        transform: rotate(-90deg) scale(1);
        opacity: 1;
    }
    90%, 100%{
        stroke-dasharray: 500 500;
        transform: rotate(-90deg) scale(2);
        opacity: 0;
    }
}

@keyframes chec{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fill{
    0%{
        background-color: transparent;
    }
    100%{
        background-color: white;
    }
}