@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #42a7a1;

}

.container {
    aspect-ratio: 1.3/1;
    width: 700px;
    position: relative;
    background-color: white;
    box-shadow: 15px 15px 33px -1px rgba(0, 0, 0, 0.30);
}

/* header */

.header {
    position: relative;
    height: 20%;
    background-color: #f1ba64;
    color: white;
}

.big {
    position: absolute;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
}

.small {
    position: absolute;
    font-weight: 400;
    font-size: 1.5rem;
}

.title {
    top: 25%;
    left: 5%;
}

.date {
    top: 55%;
    left: 5%;
}

.type {
    top: 30%;
    right: 5%;
}

.value {
    top: 50%;
    right: 5%;
}

/* header */

/* parameters */

.parameter {
    color: #606060;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 50px;
}

.parameter span {
    position: relative;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0 20px 0 25px;

}

.red::before {
    position: absolute;
    left: -5%;
    top: 50%;
    display: block;
    content: '';
    width: 25px;
    height: 20%;
    border-radius: 3px;
    background-color: #FA7373;
}

.blue::before {
    position: absolute;
    left: -5%;
    top: 50%;
    display: block;
    content: '';
    width: 25px;
    height: 20%;
    border-radius: 3px;
    background-color: #7BA2FF;
}

/* parameters */

/* graphic */

.graphic {
    position: relative;
    height: 55%;
    width: 90%;
    margin: auto;
}

.lineOne,
.lineTwo,
.lineThree {
    left: 0;
    right: 0;
    height: 3px;

    position: absolute;
    background-color: #F2F2F2;
}


.lineOne {
    top: 0;
}

.lineTwo {
    top: 50%;
}

.lineThree {
    top: 100%;
}


/* RED LINE */

svg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    line-height: 1.15;
}

.data.red-data polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke: #FA7373;
}

.points {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

.point {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transform: translateX(-7px);

    background-color: #FA7373;
}

.point.one {
    left: 0px;
    top: 122px;
}

.point.two {
    left: 105px;
    top: 27px;
}

.point.three {
    left: 210px;
    top: 55px;
}

.point.four {
    left: 315px;
    top: 16px;
}

.point.five {
    left: 420px;
    top: 94px;
}

.point.six {
    left: 525px;
    top: 123px;
}

.point.seven {
    left: 630px;
    top: 27px;
}

.tooltip,
.tooltipTwo {
    position: absolute;
    bottom: 13px;
    left: 50%;
    transform: translate3d(-50%, 0px, 0);
    font-size: 16px;
    line-height: 35px;
    padding: 0px 6px 10px 6px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    display: grid;
    place-items: top;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-out;
    clip-path: polygon(0% 0%, 100% 0, 100% 75%, 70% 75%, 50% 100%, 30% 75%, 0 75%);
}

.tooltip {
    background-color: #FA7373;
}

.point:hover .tooltip {
    visibility: visible;
    bottom: 30px;
    opacity: 1;
}

/* RED LINE */

/* BLUE LINE */


.point.second {
    background-color: #7BA2FF;
}


.data.blue-data polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke: #7BA2FF;
}

.point.one.second {
    top: 195px;
}

.point.two.second {
    top: 145px;
}

.point.three.second {
    top: 172px;
}

.point.four.second {
    top: 134px;
}

.point.five.second {
    top: 154px;
}

.point.six.second {
    top: 194px;
}

.point.seven.second {
    top: 174px;
}

.tooltipTwo {
    background-color: #7BA2FF;
}

.point:hover .tooltipTwo {
    visibility: visible;
    bottom: 30px;
    opacity: 1;
}

/* BLUE LINE */

/* DAYS */

.days {
    width: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.day {
    display: block;
    float: left;
    font-size: 15px;
    color: #949494;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}


/* DAYS */


/* graphic */