:root {
    --background-color: #4C4C4C;
    --circle-border-color: rgb(58, 58, 58);
    --circle-background-color: #242424;
    --point-size: 2.5%;
}

*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Open Sans', Helvetica, sans-serif;
}

.container{
    height: 400px;
    width: 400px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 1px 2px 10px 0;
    background: var(--background-color);
    color: white;
    position: relative;
}

.circule{
    position: absolute;
    width: 212px;
    height: 212px;
    top: 87px;
    left: 87px;
    border-radius: 50%;
    border: 7px solid var(--circle-border-color);
    background: var(--circle-background-color);
    text-align: center;
    display: grid;
    place-items: center;
}

.sphere{
    position: absolute;
    height: 62%;
    width: 62%;
    transform: rotate(calc(5deg * var(--sphere)));
}

.point {
    height: var(--point-size);
    width: var(--point-size);
    position: absolute;
    background: white;
    border-radius: 50%;
}

.spinner{
    position: absolute;
    width: 202px;
    height: 202px;
    border-radius: 50%;
    top: 5px;
    left: 5px;
}

.spinner circle{
    fill: none;
    stroke: #F85B5B;
    stroke-width: 3;
    stroke-dasharray: 625;
    animation: spinner 5s linear infinite;
    transform-origin: center;
}

@keyframes spinner{
    from{
        stroke-dashoffset: 625;
        transform: rotate(-90deg) scaleX(1);
    }
    50%{
        stroke-dashoffset: 0;
        transform: rotate(-90deg) scaleX(1);
    }
    50.001%{
        transform: rotate(90deg) scaleX(-1);
    }
    to{
        stroke-dashoffset: 625;
        transform: rotate(90deg) scaleX(-1);
    }
}

.date{
    position: absolute;
    top: 68px;
    width: 100%;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

.time{
    position: absolute;
    top: 80px;
    width: 100%;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    margin: 4px 0;
}

.beat{
    position: absolute;
    top: 129px;
    left: 57px;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}

.bxs-heart{
    color: #F85B5B;
    animation: beat 0.4s ease-in-out infinite;
}

@keyframes beat{
    0%{
        transform: scale(1);
    }
    35%{
        transform: scale(1.2);
    }
}

.energy{
    position: absolute;
    top: 129px;
    right: 55px;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
}