*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: grid;
    place-items: center;
    font-family:  Arial, Helvetica, sans-serif;
}

.container{
    height: 500px;
    width: 500px;
    background: rgb(59, 146, 172);
    background: linear-gradient(58deg, rgb(59, 146, 172, 1) 0%, rgb(91, 160, 92, 1) 100%);
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.file{
    height: 350px;
    width: 400px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.4);
    display: grid;
    place-items: center;
}

.title{
    height: 100%;
    display: grid;
    place-items: center;
    font-size: 1.3rem;
    color: gray;
}

.bar{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid gray;
}

.square{
    height: 100px;
    width: 140px;
    margin: 5% 0 5% 0;
    position: relative;
    display: grid;
    place-items: center;
    border: 1px dashed gray;
    border-radius: 10px;
}

input{
    position: absolute;
    opacity: 0;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.uploadBtn{
    width: 175px;
    height: 50px;
    background-color: #6ECE3B;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #498c25;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    margin-bottom: 5%;
    display: grid;
    place-items: center;
}

.uploadBtn:hover{
    box-shadow: 0 0 24px 0 #6ECE3B;
}