* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    height: 400px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background: rgb(214, 97, 43);
    background: linear-gradient(36deg, rgba(214, 97, 43, 1) 35%, rgba(251, 173, 57, 1) 100%);
    display: grid;
    place-items: center;
}

.counter {
    position: absolute;
    height: 40px;
    width: 130px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.2);
}

.minus {
    position: absolute;
    z-index: 10;
    width: 32px;
    height: 32px;
    top: 4px;
    left: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.line {
    position: absolute;
    height: 2px;
    width: 18px;
    left: 7px;
    top: 15px;
    background: #e26e6e;
    transition: 0.3s ease-in-out;
}

.minus:hover {
    background-color: #e26e6e;
}

.minus:hover .line {
    background-color: white;
}

.plus {
    position: absolute;
    z-index: 10;
    width: 32px;
    height: 32px;
    top: 4px;
    right: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.line-horizontal {
    position: absolute;
    height: 2px;
    width: 18px;
    left: 7px;
    top: 15px;
    background: #8ed273;
    transition: all 0.3s ease-in-out;
}

.line-vertical {
    position: absolute;
    height: 18px;
    width: 2px;
    left: 15px;
    top: 7px;
    background: #8ed273;
    transition: all 0.3s ease-in-out;
}

.plus:hover {
    background-color: #8ed273;
}

.plus:hover .line-horizontal,
.plus:hover .line-vertical {
    background-color: white;
}

.number {
    width: 130px;
    height: 40px;
    font-weight: 600;
    color: #6a85a0;
    text-align: center;
    line-height: 40px;
}