*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    background-color: #272c34;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    aspect-ratio: 1/1;
    width: 40vw;
    border-radius: 50%;
    background-color: #75cfeb;

    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: disappear 3.5s linear infinite;
}

@keyframes disappear{
    0%{
        opacity: 0;
    }
    10%, 90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.ground{
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: #dece6f;
    top: 64.9%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow{
    height: 100%;
    width: 150%;
    background-color: rgba(0, 0, 0, 0.25);

    clip-path: polygon(15% 0, 100% 20%,85% 0);
    animation: shadow 3.5s linear infinite;
}

@keyframes shadow{
    0%{
        clip-path: polygon(15% 0, 100% 20%,85% 0);
    }
    30%, 50%{
        clip-path: polygon(15% 0, 100% 40%,85% 0);
    }
    100%{
        clip-path: polygon(15% 0, 0 50%,84% 0);
    }
}

.pyramid{
    position: absolute;
    height: 30%;
    width: 70%;
    display: flex;
}

.leftSide{
    height: 100%;
    width: 70%;
    background-color: #f0f0f0;

    clip-path: polygon(79% 0, 0 100%,100% 100%);
    position: absolute;

    z-index: 1;
    animation: leftShift 3.5s linear infinite;
}

@keyframes leftShift{
    0%{
        background-color: #c3c1c3;
    }
    30%, 70%{
        background-color: #dadada;
    }
    100%{
        background-color: #919191;
    }
}

.rightSide{
    position: absolute;
    height: 100%;
    width: 70%;
    background-color: #c3c1c3;

    clip-path: polygon(36% 0, 100% 100%,21% 100%);
    left: 30%;
    animation: rightShift 3.5s linear infinite;
}

@keyframes rightShift{
    0%{
        background-color: #919191;
    }
    30%, 50%{
        background-color: #c3c1c3;
    }
    100%{
        background-color: #e0e0e0;
    }
}

.sunFund{
    position: absolute;
    height: 170%;
    width: 170%;
    top: 40%;
    transform: rotate(0deg);
    animation: sunRotate 3.5s linear infinite;
}

@keyframes sunRotate{
    0%{
        transform: rotateZ(0deg);
    }
    30%, 50%{
        transform: rotateZ(30deg);
    }
    100%{
        transform: rotateZ(90deg);
    }
}

.sun{
    position: absolute;
    height: 13%;
    width: 13%;
    border-radius: 50%;
    background-color: #fee401;
}