* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    position: absolute;
    height: 400px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #75c1e8;
    overflow: hidden;
}

.sun {
    position: absolute;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    top: 40px;
    left: 52px;
    background-color: #ffd93c;
    animation: sun 60s linear infinite alternate;
}

@keyframes sun {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(300px);
    }
}

.cloud-big,
.cloud-medium,
.cloud-small {
    position: absolute;
    top: 118px;
    left: 280px;
    animation: cloud 60s linear infinite alternate;
}

.cloud-small{
    top: 74px;
    left: 195px;

}

.cloud-medium{
    top: 89px;
    left: 50px;
}

@keyframes cloud{
    0%{
        transform: translateX(0px);
    }

    100%{
        transform: translateX(-300px);
    }
}