* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    height: 400px;
    width: 400px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: #ea4c89;
    display: grid;
    place-items: center;
}

.line{
    width: 225px;
    height: 2px;
    background-color: white;
    margin: 15px 0;
    animation: line 0.6s ease-in-out both;
}

@keyframes line{
    0%{
        width: 0;
    }

    100%{
        width: 225px;
    }
}

.text{
    stroke: #ea4c89;
    stroke-dasharray: 270;
}

.text .a1{
    fill: white;
    stroke-width: 6;
    animation: fill 1.2s ease-in-out both;
}

.text .a2{
    fill: white;
    stroke-width: 12;
    animation: fill 1.7s ease-in-out 0.3s both;
}

.text .a3{
    fill: white;
    stroke-width: 18;
    animation: fill 2.2s ease-in-out 0.6s both;
}

@keyframes fill{
    0%{
        stroke-dashoffset: 0;
    }

    100%{
        stroke-dashoffset: 270;
    }
}