* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    place-items: center;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
    background: white;
    color: white;
}

.profile {
    position: relative;
    float: left;
    display: grid;
    place-items: center;
    width: 194px;
    height: 194px;
    margin: 4px 0 0 4px;
    cursor: pointer;

    /* VERRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR */
    display: grid;
    place-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s ease-in-out;
    opacity: 0;
}

.profile:hover .overlay {
    opacity: 0.5;
}

.plus {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #ec6565;
    border-radius: 50%;
    box-shadow: 2px 4px 10px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.4s ease-in-out;
    opacity: 0;
    transform: scale(2);
    pointer-events: none;
}

.profile:hover .plus {
    opacity: 1;
    transform: scale(1);
}

.plus::before,
.plus::after {
    position: absolute;
    content: '';
    background-color: white;
}

.plus::before {
    width: 14px;
    height: 2px;
    top: 24px;
    left: 18px;
}

.plus::after {
    width: 2px;
    height: 14px;
    top: 18px;
    left: 24px;
}

/* Details */

.detail {
    display: none;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
}

.detail.active {
    pointer-events: all;
}

.detail.active .header {
    transform: translate3d(0, 0, 0);
    transition: all 0.6s ease-out;
}

.detail.active .image {
    transform: translate3d(0, 0, 0);
    transition: all 0.6s ease-out 0.3s;
}

.detail.active .information {
    transform: translate3d(0, 0, 0);
    transition: all 0.6s ease-out;
}

.detail.active .close {
    transform: rotate(45deg) translate3d(0, 0, 0);
    transition: 0.3s ease-in-out, transform 0.6s ease-out 0.6s;
}

.detail .close {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
    background: #EC6565;
    border-radius: 50%;
    transition: 0.3s ease-in-out, transform 0.5s ease-in;
    transform: rotate(45deg) translate3d(-105%, -105%, 0);
    cursor: pointer;
}

.detail .close:before {
    position: absolute;
    content: "";
    width: 14px;
    height: 2px;
    top: 24px;
    left: 18px;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.detail .close:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 14px;
    top: 18px;
    left: 24px;
    background: #fff;
    transition: all 0.3s ease-in-out;
}

.detail .close:hover {
    background: #fff;
}

.detail .close:hover:after,
.detail .close:hover:before {
    background: #EC6565;
}

.detail .header {
    scale: 1.1;
    transform: translate3d(0, -100%, 0);
    transition: all 0.6s ease-in 0.4s;
}

.detail .image {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 130px;
    left: 150px;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 4px 6px 15px 0 rgba(0, 0, 0, 0.2);
    transform: translate3d(0, -250px, 0);
    transition: all 0.6s ease-in 0.2s;
}

.detail .image img {
    width: 100%;
    height: auto;
}

.detail .information {
    box-sizing: border-box;
    background: #EC6565;
    height: 220px;
    padding-top: 67px;
    transform: translate3d(0, 105%, 0);
    transition: all 0.6s ease-in 0.4s;
}

.detail .name {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.detail .action {
    margin-top: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.detail .action .button {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    margin: 0 20px;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.button:hover {
    background: #fff;
}

.button:hover .bx {
    color: #EC6565;
}

#detailOne {
    display: block;
}

/* Details */