* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.container {
    position: absolute;
    width: 400px;
    height: 400px;
    background: black;
    filter: contrast(25);
    display: grid;
    place-items: center;
}

.center {
    position: absolute;
}

/* Internal Circles */
.ball {
    position: relative;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    filter: blur(15px);
}

.ballOne,
.ballTwo,
.ballThree,
.ballFour,
.ballFive,
.ballSix,
.ballSeven,
.ballEight {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
}

.ballOne {
    transform: rotate(123deg);
}

.ballTwo {
    transform: rotate(8deg);
}

.ballThree {
    transform: rotate(192deg);
}

.ballFour {
    transform: rotate(170deg);
}

.ballFive {
    transform: rotate(93deg);
}

.ballSix {
    transform: rotate(38deg);
}

.ballSeven {
    transform: rotate(141deg);
}

.ballEight {
    transform: rotate(58deg);
}

.ballOne:after,
.ballTwo:after,
.ballThree:after,
.ballFour:after,
.ballFive:after,
.ballSix:after,
.ballSeven:after,
.ballEight:after {
    position: absolute;
    display: block;
    content: '';
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    filter: blur(5px);
}

.ballOne::after {
    transform-origin: 37px 37px;
    animation: rotate 2.7s ease-in-out 0.2s infinite;
}

.ballTwo:after {
    transform-origin: 34px 34px;
    animation: rotate 2.9s ease-in-out 0.4s infinite;
}

.ballThree:after {
    transform-origin: 31px 31px;
    animation: rotate 3.1s ease-in-out 0.6s infinite;
}

.ballFour:after {
    transform-origin: 28px 28px;
    animation: rotate 3.3s ease-in-out 0.8s infinite;
}

.ballFive:after {
    transform-origin: 25px 25px;
    animation: rotate 3.5s ease-in-out 1s infinite;
}

.ballSix:after {
    transform-origin: 22px 22px;
    animation: rotate 3.7s ease-in-out 1.2s infinite;
}

.ballSeven:after {
    transform-origin: 19px 19px;
    animation: rotate 3.9s ease-in-out 1.4s infinite;
}

.ballEight:after {
    transform-origin: 16px 16px;
    animation: rotate 4.1s ease-in-out 1.6s infinite;
}

/* Internal Circles */

/* External Circles */
.circleOne,
.circleTwo,
.circleThree,
.circleFour,
.circleFive,
.circleSix,
.circleSeven,
.circleEight,
.circleNine,
.circleTen {
    position: absolute;
    top: 38px;
    left: 38px;
}

.circleOne {
    width: 8px;
    height: 8px;
    transform: rotate(114deg);
}

.circleTwo {
    width: 9px;
    height: 9px;
    transform: rotate(280deg);
}

.circleThree{
    width: 10px;
    height: 10px;
    transform: rotate(293deg);
}

.circleFour{
    width: 11px;
    height: 11px;
    transform: rotate(264deg);
}

.circleFive{
    width: 12px;
    height: 12px;
    transform: rotate(300deg);
}

.circleSix{
    width: 13px;
    height: 13px;
    transform: rotate(138deg);
}

.circleSeven{
    width: 14px;
    height: 14px;
    transform: rotate(18deg);
}

.circleEight{
    width: 15px;
    height: 15px;
    transform: rotate(36deg);
}

.circleNine{
    width: 16px;
    height: 16px;
    transform: rotate(17deg);
}

.circleTen{
    width: 17px;
    height: 17px;
    transform: rotate(177deg);
}

.circleOne::after,
.circleTwo::after,
.circleThree::after,
.circleFour::after,
.circleFive::after,
.circleSix::after,
.circleSeven::after,
.circleEight::after,
.circleNine::after,
.circleTen::after
{
    position: absolute;
    content: '';
    background: white;
    border-radius: 50%;
    transform-origin: 58px 58px;
    filter: blur(3px);
}

.circleOne::after {
    width: 8px;
    height: 8px;
    transform-origin: 58px 58px;
    animation: rotate 3.7s ease-in-out 0.2s infinite;
}

.circleTwo::after{
    width: 9px;
    height: 9px;
    transform-origin: 56px 56px;
    animation: rotate 3.9s ease-in-out 0.4s infinite;
}

.circleThree::after{
    width: 10px;
    height: 10px;
    transform-origin: 54px 54px;
    animation: rotate 4.1s ease-in-out 0.6s infinite;
}

.circleFour::after{
    width: 11px;
    height: 11px;
    transform-origin: 52px 52px;
    animation: rotate 4.3s ease-in-out 0.8s infinite;
}

.circleFive::after{
    width: 12px;
    height: 12px;
    transform-origin: 50px 50px;
    animation: rotate 4.5s ease-in-out 1s infinite;
}

.circleSix::after{
    width: 13px;
    height: 13px;
    transform-origin: 48px 48px;
    animation: rotate 4.7s ease-in-out 1.2s infinite;
}

.circleFive::after{
    width: 14px;
    height: 14px;
    transform-origin: 46px 46px;
    animation: rotate 4.9s ease-in-out 1.6s infinite;
}

.circleEight::after{
    width: 15px;
    height: 15px;
    transform-origin: 44px 44px;
    animation: rotate 5.1s ease-in-out 1.8s infinite;
}

.circleNine::after{
    width: 16px;
    height: 16px;
    transform-origin: 42px 42px;
    animation: rotate 5.3s ease-in-out 1.8s infinite;
}

.circleTen::after{
    width: 17px;
    height: 17px;
    transform-origin: 40px 40px;
    animation: rotate 5.5s ease-in-out 1.8s infinite;
}

/* External Circles */


@keyframes rotate {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    to {
        transform: rotate(360deg) translate3d(0, 0, 0);
    }
}