* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 4px;
    background-color: #243B47;
    color: white;
    font-family: Open Sans, sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* head-line */
.head-line {
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 22px;
}

.small {
    font-weight: 300;
    font-size: 16px;
}

/* head-line */

/* big Circle */

.circle-big {
    position: relative;
    width: 114px;
    height: 114px;
    margin: 30px auto 25px auto;
}

.circle-big svg {
    width: 114px;
    height: 114px;
}

.circle-big .bg {
    fill: none;
    stroke-width: 10px;
    stroke: #1B2A33;
}

.circle-big .progress {
    fill: none;
    stroke-width: 10px;
    stroke: #27E1AE;
    stroke-linecap: round;
    stroke-dasharray: 326.56;
    stroke-dashoffset: 60;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: big 1.5s ease-out;
}

.circle-big .text {
    position: absolute;
    width: 100%;
    top: 37px;
    font-size: 24px;
    text-align: center;
    font-weight: 400;
    line-height: 22px;
}

.circle-big .text .small {
    font-size: 14px;
    color: #648192;
}

/* big Circle */

/* small circle */
.circles-small {
    margin: 0 auto;
    width: 400px;
    height: 80px;
    text-align: center;
}

.circle-small{
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 20px;
}

.circle-small svg {
    width: 100%;
    height: 100%;
}

.circle-small .bg {
    fill: none;
    stroke-width: 6px;
    stroke: #1B2A33;
}

.circle-small .progress {
    fill: none;
    stroke-width: 6px;
    stroke: #27E1AE;
    stroke-linecap: round;
    stroke-dasharray: 232.36;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.circle-small .progress.one{
    stroke-dashoffset: 80;
    animation: one 1.5s ease-out;
}

.circle-small .progress.two{
    stroke-dashoffset: 150;
    animation: two 1.5s ease-out 0.2s;
}

.circle-small .text{
    position: absolute;
    width: 100%;
    top:26px;
    font-size: 17px;
    text-align: center;
    font-weight: 400;
    line-height: 16px;
}

.circle-small .text .small{
    font-size: 12px;
    color: #648192;
}


/* small circle */

/* animation */
@keyframes big {
    from {
        stroke-dashoffset: 326.56;
    }
    to {
        stroke-dashoffset: 60;
    }
}

@keyframes one {
    from {
        stroke-dashoffset: 232.36;
    }
    to {
        stroke-dashoffset: 80;
    }
}

@keyframes two {
    from {
        stroke-dashoffset: 232.36;
    }
    to {
        stroke-dashoffset: 150;
    }
}

/* animation */