* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', Helvetica, sans-serif;
    color: #786450;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(236, 187, 106);
    background: linear-gradient(29deg, rgba(236, 187, 106, 1) 0%, rgba(203, 126, 79, 1) 100%);
}

.container {
    aspect-ratio: 1/1;
    width: 500px;
    background-color: white;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.40);

}

.left {
    height: 80%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .photo {
        height: 130px;
        width: 130px;
        background-image: url('https://100dayscss.com/codepen/jessica-potter.jpg');
        background-size: contain;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
    }

    .photo::before {
        content: '';
        position: absolute;
        width: 140px;
        height: 140px;
        top: -6px;
        left: -6px;
        border: 1px solid;
        border-color: #786450 #786450 #786450 transparent;
        border-radius: 50%;
        transition: all 1.5s ease-in-out;
    }

    .photo:hover::before {
        transform: rotateZ(360deg);
    }

    .photo::after {
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        top: -11.5px;
        left: -11.5px;
        border: 1px solid;
        border-color: #786450 transparent #786450 #786450;
        border-radius: 50%;
        transition: all 1.5s ease-in-out;
    }

    .photo:hover::after {
        transform: rotateZ(-360deg);
    }

    .name {
        text-align: center;
        margin-bottom: 10%;
        font-size: 1.3rem;
    }

    .links {
        display: flex;
        flex-direction: column;
        height: 30%;
        width: 55%;
        gap: 10%;
        font-weight: bold;
    }

    .link {
        height: 40%;
        border-radius: 30px;
        border: 2px solid #786450;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .link:hover {
        background-color: #786450;
        color: white;
        transition: 500ms ease-in-out;
        cursor: pointer;
    }
}



.right {
    display: flex;
    flex-direction: column;

    .info {
        background-color: #F5E8DF;
        height: 33.3%;
        width: 100%;

        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        transition: 500ms ease-in-out;

        border-top: 1px solid white;
    }

    .info span {
        font-size: 1.8rem;
        font-weight: bold;
    }

    .info:hover {
        background-color: #d6c6bb;
        color: white;
    }

    .info:first-child {
        border-radius: 0 10px 0 0;
    }

    .info:last-child {
        border-radius: 0 0 10px 0;
    }
}